* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body{
  background-color: black;
}

h1, h2{
  color: white;
}

.margin-large{
  margin: 0.5rem;
}

.card{
  background-color: rgb(5, 16, 34);
  border-color: rgb(5, 16, 34);
}

.card-title{
  color: white;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grilla-search-form{
  display: grid;
}

.text-white{
  color: white;
}